
header {
  max-width: 1920px;
  border-bottom: 1px solid #f0f0f3;
  margin: 0 auto;
  background-color: var(--background);
  transition: 0.5s;
}

header h2 {
  font-family: Rubik;
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
}

.headerContainer{
  max-width: 1210px;
  height: 3.75rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonRegister {
  border: none;
  height: 36px;
  width: 150px;
  cursor: pointer;
}

.cartButton {
  border: none;
  height: 36px;
  width: 150px;
  cursor: pointer;
}