/* .cartContainer {
    max-width: 820px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    background-color: #f0f1f4;
}

.cartContainer {
    padding: 30px;
    border-radius: 4px;
} */

.finallyContainer {
    max-width: 820px;
    padding: 30px;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: 0 1px 2px 0 #737373;
<<<<<<< HEAD
    margin-top: 6.25rem;
=======
>>>>>>> 3faa3a864a5f83cbb510e1ebc0df8ffcb7f4f400
}

.finallyContainer p {
    font-size: 24px;
    color:#00a650;
    font-weight: 500;
    font-family: Helvetica;
}

.finallyButton {
    display: flex;
    background-color: #3483fa;
    height: 40px;
    border-radius: 6px;
    margin-top: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-family: Rubik;
    font-weight: 500;
    color: white;
    align-items: center;
    justify-content: center;
}

.finallyButton img {
    margin-right: 10px
}


.finallyButton:hover {
    background-color: #0055d4;
    transition: 0.4s;
}

.paragraphContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}